<a href="https://colab.research.google.com/github/siddhi5386/IPLruns-2020/blob/main/Flipr_IPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

train=pd.read_excel("/content/drive/My Drive/flipr ipl/Data.xlsx",sheet_name='Train_Data')
test=pd.read_excel("/content/drive/My Drive/flipr ipl/Data.xlsx",sheet_name='Test_Data')

In [113]:
train.head()

            PLAYER  Mat  Inns  NO  2018_Runs  ... 100 50  4s  6s  2019_Runs
0      Aaron Finch   10     9   1        134  ...   0  0   6   8        160
1   AB de Villiers   12    11   2        480  ...   0  6  39  30        424
2  Abhishek Sharma    3     3   2         63  ...   0  0   3   5         63
3   Ajinkya Rahane   15    14   1        370  ...   0  1  39   5        396
4       Alex Hales    6     6   0        148  ...   0  0  13   6        165

[5 rows x 14 columns]

In [114]:
train.replace({'-':0},inplace=True)
test.replace({'-':0},inplace=True)

In [115]:
#those players who were not out while making their highest scores have potential to increase their scores if allowed to play for a longer period and hence 1 in "HSmore" indicates yes for potential

train["HSmore"]=0
test["HSmore"]=0

In [116]:
train['HSmore'] = pd.to_numeric(train['HSmore'])
test['HSmore'] = pd.to_numeric(test['HSmore'])

In [117]:
train.head(5)

            PLAYER  Mat  Inns  NO  2018_Runs  ... 50  4s  6s  2019_Runs  HSmore
0      Aaron Finch   10     9   1        134  ...  0   6   8        160       0
1   AB de Villiers   12    11   2        480  ...  6  39  30        424       0
2  Abhishek Sharma    3     3   2         63  ...  0   3   5         63       0
3   Ajinkya Rahane   15    14   1        370  ...  1  39   5        396       0
4       Alex Hales    6     6   0        148  ...  0  13   6        165       0

[5 rows x 15 columns]

In [120]:
for i in range(len(train)):
  if (type(train.iloc[i,5]) == str):
    train.iloc[i, 5] = int(train.iloc[i, 5].strip('*'))
    # train.loc[i,14]=train.loc[i,14].replace({0:1},inplace=True)
    train.iloc[i,14]= train.iloc[i,14]+1
    
for i in range(len(test)):
  if (type(test.iloc[i,5]) == str):
    test.iloc[i, 5] = int(test.iloc[i, 5].strip('*'))
    # train.loc[i,14]=train.loc[i,14].replace({0:1},inplace=True)
    test.iloc[i,13]= test.iloc[i,13]+1

In [121]:
test

               PLAYER  Mat  Inns  NO  2019_Runs  ... 100  50  4s  6s  HSmore
0        David Warner   12    12   2        692  ...   1   8  57  21       1
1            KL Rahul   14    14   3        593  ...   1   6  49  25       1
2     Quinton de Kock   16    16   1        529  ...   0   4  45  25       0
3      Shikhar Dhawan   16    16   1        521  ...   0   5  64  11       1
4       Andre Russell   14    13   4        510  ...   0   4  31  52       1
..                ...  ...   ...  ..        ...  ...  ..  ..  ..  ..     ...
95  Carlos Brathwaite    2     2   0         11  ...   0   0   1   0       0
96      Ishant Sharma   13     3   3         10  ...   0   0   1   1       1
97    Shakib Al Hasan    3     1   0          9  ...   0   0   0   0       0
98         Pawan Negi    7     4   0          9  ...   0   0   1   0       0
99        Tim Southee    3     1   1          9  ...   0   0   0   0       1

[100 rows x 14 columns]

In [122]:
train.head(5)

            PLAYER  Mat  Inns  NO  2018_Runs  ... 50  4s  6s  2019_Runs  HSmore
0      Aaron Finch   10     9   1        134  ...  0   6   8        160       0
1   AB de Villiers   12    11   2        480  ...  6  39  30        424       1
2  Abhishek Sharma    3     3   2         63  ...  0   3   5         63       1
3   Ajinkya Rahane   15    14   1        370  ...  1  39   5        396       1
4       Alex Hales    6     6   0        148  ...  0  13   6        165       0

[5 rows x 15 columns]

In [123]:
train['HS'] = pd.to_numeric(train['HS'])
test['HS'] = pd.to_numeric(test['HS'])

In [124]:
train.drop(['PLAYER'],axis=1,inplace=True)
test.drop(['PLAYER'],axis=1,inplace=True)

In [125]:
train=train.rename(columns={'2018_Runs':'PrevRuns'})
test=test.rename(columns={'2019_Runs':'PrevRuns'})

In [126]:
from sklearn.preprocessing import MinMaxScaler
continuous = ['Mat',
'Inns',
'NO',
'PrevRuns',
'HS',
'Avg',
'BF',
'SR',
'4s',
'6s',
'HSmore' ]

scaler = MinMaxScaler()

for var in continuous:
    train[var] = train[var].astype('float64')
    train[var] = scaler.fit_transform(train[var].values.reshape(-1, 1))

for var in continuous:
    test[var] = test[var].astype('float64')
    test[var] = scaler.fit_transform(test[var].values.reshape(-1, 1))

In [127]:
train_y=train['2019_Runs']
train_x=train.drop(['2019_Runs'],axis=1)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(train_x,train_y,test_size=0.1,random_state=101)

In [128]:
X_train

       Mat    Inns        NO  PrevRuns  ...  50        4s        6s  HSmore
82  0.9375  0.9375  0.333333  0.670360  ...   4  0.867647  0.378378     1.0
25  0.5000  0.4375  0.444444  0.102493  ...   0  0.029412  0.081081     1.0
45  0.5000  0.4375  0.111111  0.166205  ...   1  0.147059  0.189189     0.0
68  0.6875  0.6875  0.333333  0.295014  ...   1  0.264706  0.216216     1.0
37  0.2500  0.2500  0.111111  0.148199  ...   1  0.132353  0.189189     1.0
..     ...     ...       ...       ...  ...  ..       ...       ...     ...
63  0.3125  0.3125  0.111111  0.193906  ...   1  0.294118  0.108108     0.0
70  0.8125  0.5000  0.111111  0.123269  ...   0  0.102941  0.135135     0.0
81  0.7500  0.0000  0.111111  0.002770  ...   0  0.044118  0.000000     1.0
11  0.6875  0.1875  0.222222  0.000000  ...   0  0.014706  0.000000     0.0
95  0.8125  0.8125  0.333333  0.716066  ...   4  0.764706  0.486486     1.0

[90 rows x 13 columns]

In [129]:
from sklearn.linear_model import LinearRegression
obj=LinearRegression()
obj.fit(X_train,y_train)
predictions=obj.predict(X_test)

In [130]:
obj.score(X_test,y_test)

0.9618866696630731

In [131]:
from sklearn.metrics import mean_squared_log_error
mean_squared_log_error(y_test,predictions)

0.10303993547488106

In [132]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,predictions)

27.406275477269514

In [133]:
from sklearn import tree
model=tree.DecisionTreeRegressor()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9747815881926892

In [134]:
predictions=model.predict(X_test)
mean_squared_log_error(y_test,predictions)

0.008028447679659552

In [135]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,predictions)

17.1

In [136]:
from sklearn.ensemble import RandomForestRegressor 
regr= RandomForestRegressor(max_depth=2,random_state=0,n_estimators=100)
regr.fit(X_train,y_train)
regr.score(X_test,y_test)

0.9796103318614938

In [137]:
pred=regr.predict(X_test)

mean_squared_log_error(y_test,pred)

0.17501221155406005

In [139]:
mean_absolute_error(y_test,pred)

19.728677623935166

In [143]:
#### BESTT MODEL

import xgboost as xgb
model_xgb = xgb.XGBRegressor()
model_xgb.fit(X_train,y_train)

[15:01:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [144]:
### BEST 

pre=model_xgb.predict(X_test)
model_xgb.score(X_test,y_test)

0.9980541137557692

In [159]:
model_xgb.score(X_train,y_train)

0.9999708791316627

In [145]:
## BEST

from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
mean_absolute_error(y_test,pre)

4.958864784240722

In [160]:

mean_squared_log_error(y_test,pre)

0.0022295554085863243

In [146]:
#save model
import pickle
filename = "/content/drive/My Drive/flipr ipl/Task1_model.pickle"
pickle.dump(model_xgb, open(filename, 'wb'))

In [147]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.model_selection import StratifiedKFold
import xgboost as xgb


# A parameter grid for XGBoost
params = {
        'min_child_weight': [5, 7],
        'gamma': [0.5, 1, 1.5],
        'subsample': [0.5],
        'max_depth': [3, 4, 5]
        }

xgb = xgb.XGBRegressor()

skf = StratifiedKFold(n_splits=3, shuffle = True, random_state = 1001)

random_search = RandomizedSearchCV(xgb, param_distributions=params,n_jobs=4,verbose=3, n_iter=4, scoring='neg_mean_squared_log_error', cv=skf.split(train_x,train_y), random_state=1001 )

random_search.fit(train_x, train_y)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

[15:03:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

[Parallel(n_jobs=4)]: Done  10 out of  12 | elapsed:    3.2s remaining:    0.6s
[Parallel(n_jobs=4)]: Done  12 out of  12 | elapsed:    3.2s finished

RandomizedSearchCV(cv=<generator object _BaseKFold.split at 0x7fd3ebc3e938>,
                   error_score=nan,
                   estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                          colsample_bylevel=1,
                                          colsample_bynode=1,
                                          colsample_bytree=1, gamma=0,
                                          importance_type='gain',
                                          learning_rate=0.1, max_delta_step=0,
                                          max_depth=3, min_child_weight=1,
                                          missing=None, n_estimators=100,
                                          n_jobs=1, nthread=None,...
                                          random_state=0, reg_alpha=0,
                                          reg_lambda=1, scale_pos_weight=1,
                                          seed=None, silent=None, subsample=1,
                                          verbosity=1),
                   iid='deprecated', n_iter=4, n_jobs=4,
                   param_distributions={'gamma': [0.5, 1, 1.5],
                                        'max_depth': [3, 4, 5],
                                        'min_child_weight': [5, 7],
                                        'subsample': [0.5]},
                   pre_dispatch='2*n_jobs', random_state=1001, refit=True,
                   return_train_score=False,
                   scoring='neg_mean_squared_log_error', verbose=3)

In [148]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)
print(random_search.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search.best_params_)

 All results:
{'mean_fit_time': array([0.08861772, 0.07676935, 0.05542723, 0.04350646]), 'std_fit_time': array([0.00639407, 0.01944805, 0.00148217, 0.01356499]), 'mean_score_time': array([0.00473626, 0.00540821, 0.00375517, 0.0022014 ]), 'std_score_time': array([0.00293015, 0.00368231, 0.00173842, 0.00033464]), 'param_subsample': masked_array(data=[0.5, 0.5, 0.5, 0.5],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_child_weight': masked_array(data=[7, 5, 5, 5],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[3, 5, 3, 4],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_gamma': masked_array(data=[0.5, 1, 0.5, 0.5],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'subsample': 0.5, 'min_child_weight': 7, 'max_depth': 3, 'gamma': 0.5}, {'subsample': 0.5, 'min_child_weight': 5, 'max_depth': 5, 'gamma': 1}, {'subsample': 0.5, 'min_child_weight': 5, 'max_depth': 3, 'gamma': 0.5}, {'subsample': 0.5, 'min_child_weight': 5, 'max_depth': 4, 'gamma': 0.5}], 'split0_test_score': array([-0.03675849, -0.0114157 , -0.01580532, -0.01147629]), 'split1_test_score': array([-0.01842445, -0.02473647, -0.01883153, -0.02686111]), 'split2_test_score': array([-0.03108264, -0.01813559, -0.01529116, -0.01808364]), 'mean_test_score': array([-0.0287552 , -0.01809592, -0.01664267, -0.01880702]), 'std_test_score': array([0.00766364, 0.00543825, 0.00156192, 0.00630162]), 'rank_test_score': array([4, 2, 1, 3], dtype=int32)}

 Best estimator:
XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.5,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=5, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.5, verbosity=1)
-1.033285339824022

 Best hyperparameters:
{'subsample': 0.5, 'min_child_weight': 5, 'max_depth': 3, 'gamma': 0.5}

In [149]:
import xgboost as xgb
model_xgb1 = xgb.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.5,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=5, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.5, verbosity=1)

In [150]:
model_xgb1.fit(X_train,y_train)

[15:04:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0.5,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=5, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.5, verbosity=1)

In [151]:
y_test_p=model_xgb1.predict(X_test)

In [152]:
model_xgb1.score(X_test,y_test)

0.9904403074202662

In [153]:
mean_absolute_error(y_test,y_test_p)

9.825837707519531

In [154]:
## BEST MODEL is model_xgb

final_prediction=model_xgb.predict(test)

In [155]:
final_prediction

array([592.1432   , 520.2773   , 509.55008  , 509.09018  , 489.40332  ,
       487.80627  , 463.75656  , 441.69128  , 440.36716  , 440.99402  ,
       415.86438  , 414.76526  , 403.9905   , 405.10443  , 404.13483  ,
       404.73242  , 402.11667  , 400.45584  , 401.66644  , 402.59348  ,
       401.3939   , 397.51376  , 391.9681   , 392.66562  , 392.35938  ,
       374.49454  , 373.29846  , 373.22495  , 341.62354  , 343.4799   ,
       341.5889   , 343.99857  , 318.94193  , 302.3408   , 279.16846  ,
       254.56168  , 243.15463  , 185.30336  , 184.1066   , 183.58778  ,
       182.87207  , 183.07428  , 184.16168  , 182.2083   , 182.66273  ,
       167.78038  , 167.4696   , 159.96085  , 121.83036  , 107.68165  ,
       100.22444  ,  98.25956  ,  97.88454  ,  97.73155  ,  98.14844  ,
        95.03525  ,  89.622696 ,  86.10433  ,  86.33766  ,  85.998634 ,
        80.37269  ,  80.78396  ,  72.46174  ,  68.86049  ,  70.519936 ,
        70.12398  ,  70.43868  ,  65.8438   ,  43.436153 ,  42.705    ,
        25.907227 ,  26.276308 ,  25.879381 ,  27.709135 ,  21.253822 ,
        21.346266 ,  19.226597 ,  19.410025 ,  19.189264 ,  18.133846 ,
        14.675967 ,  15.162177 ,  14.666816 ,  14.403508 ,  14.380463 ,
        14.180129 ,  12.632309 ,  11.703668 ,  12.632309 ,  12.593854 ,
        12.410667 ,  10.496403 ,  10.856914 ,  10.712458 ,   9.6935215,
         9.773861 ,  10.710597 ,  10.112514 ,   9.625664 ,   9.820411 ],
      dtype=float32)

In [156]:
test_1=pd.read_excel("/content/drive/My Drive/flipr ipl/Data.xlsx",sheet_name='Test_Data')

In [158]:
results_df = pd.DataFrame(data={'Players':test_1['PLAYER'], 'Total_runs_ipl2020':final_prediction})
results_df.to_csv('/content/drive/My Drive/flipr ipl/solution.csv', index=False)